@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');

/* 
 * CUSTOM CSS
 */
.marvel-font{
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: -.1rem;
    word-spacing: .3rem;
    font-size: 1.5rem;
    color: white;
}

.marvel-title{
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: -.5rem;
    word-spacing: .3rem;
    font-size: 4rem;
    color:  #DC3545;
    margin: 0;
}
.subtitle{
    text-align: center;
    color: gray;
    margin-top: -.9rem;
    font-size: 1.2rem;
}

.modok{
    background-image: url('https://image.tmdb.org/t/p/original/f8TCGou7nN5AulP3wogXY1T8oge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
}
.modok-content{
    padding-top: 150px;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 45%;
    min-height: 100%;
    color: white;
}

.pb-10{
    padding-bottom: 5rem;
}

.pt-10{
    padding-top: 5rem;
}

.pb-15{
    padding-bottom: 7.5rem;
}

.mt-11{
    margin-top: 6rem !important;
}

.character{
    transition: 500ms;
}
.character:hover{
    transform: scale(1.03);
}

/*
 * SHAPE DIVIDER CSS 
 */
.custom-shape-divider-bottom-1646739273 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646739273 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 84px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1646739273 .shape-fill {
    fill: #DC3545;
}

.custom-shape-divider-bottom-1646826524 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646826524 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.custom-shape-divider-bottom-1646826524 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1646857491 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646857491 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1646857491 .shape-fill {
    fill: #DC3545;
}

.custom-shape-divider-top-1646878584 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1646878584 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1646878584 .shape-fill {
    fill: #DD4145;
}

.custom-shape-divider-top-1646936519 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1646936519 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.custom-shape-divider-top-1646936519 .shape-fill {
    fill: #DC3545;
}
